h1 {
    text-align: center;
    margin: 1em 0 .5em 0;
    font-size: 4em;
    font-weight: 600;
}

article {
    font-size: 1.7em;
    font-weight: 400;

    max-width: 40em;
}

p {
    margin: 0;
}

u {
    text-decoration: underline;
    display: inline;
}

article a {
    text-decoration: none;
    color: red;
}

article a:hover {
    color: lightcoral;
}