

u {
    text-decoration: underline;
    display: inline;
}

article a {
    text-decoration: none;
    color: red;
}

article a:hover {
    color: lightcoral;
}

.button {
    width: 35rem;
    max-height: 8rem;
    background-color: red;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    color:black;

    flex: 0 0 0;

    font-size: 5em;
    margin: 5rem;

    text-decoration: none;
}

.button:hover {
    filter:hue-rotate(-45deg) brightness(50%);
}