/* this is the general page format css file any reference 
to more specific elements within certain pages will be in
their respective css files */

:root {
    --main-background-color: black;

    /* font */
    font-family: 'Eczar', serif;
}


/* fill out the page */
html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--main-background-color);

}


/* nav should be same across all pages */
nav {
    height: 5rem;
    background-color: rgb(30, 30, 30);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    z-index: 3;
    /* HEL-LO SAILOR! this is a welcome addition */
    position: sticky;
    top: 0;
}

nav a {
    width: 23%;
    max-height: 3.5rem;
    background-color: rgb(66, 66, 66);
    color:white;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: .6rem;

    text-decoration: none;
    font-size: 1.5rem;
}

nav .current {
    background-color: rgb(110, 110, 110);
}

nav a:hover {
    transition-duration: .5s;
    filter: brightness(130%);
}

h1 {
    text-align: center;
    margin: 5rem 0 1rem 0;
    font-size: 4rem;
    font-weight: 600;
}

p {
    margin: 0;
}

article {
    font-size: 1.7rem;
    font-weight: 400;
    width: 100%;
    max-width: 60rem;

    display: flex;
    flex-direction: column;
}


/* this will determine the general margin of all pages, plus background color */
section {
    background-color: var(--main-background-color);

    width: 90%;
    margin: 0 auto;

    color: white;

    display:flex;
    flex-direction: column;
    align-items: center;

    
}

footer {
    height: 15rem;
}