:root {
    --home-team-color: rgb(190, 38, 38);
    --away-team-color: rgb(39, 39, 184);
}

article {
    margin: 5em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    user-select: none;

    flex: 1 0 0;
}


#game {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex: 1 0 0 ;

    border-radius: 2rem;

    background-color: rgb(15, 15, 15);
    padding: 3rem;
}

#numbers {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    justify-content: space-evenly;
}

#display {
    display: flex;
    flex-direction: column;
    flex: 0 1 30% ;
    justify-content: center;
    align-items: center;
}

#info {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1 1 0;
}

#base-1, #base-2 {
    height: 5rem;
    width: 5rem;
    border: .2rem solid white;
    margin: .2rem 0;
    border-radius: 1rem;
}

#play {
    text-align: center;
}

/* 
#base-1-pitcher, #batter, #base-2-pitcher {

} */

.on-base{
    background-color: white;
}

.top #base-1-pitcher, .top #base-2-pitcher {
    color: var(--away-team-color);
}

.top #batter {
    
    color: var(--home-team-color);
}


.bottom #base-1-pitcher, .bottom #base-2-pitcher {
    color: var(--home-team-color);
}

.bottom #batter {
    color: var(--away-team-color);
}

#home-team, #home-score {
    color: var(--home-team-color);
}



#away-team, #away-score {
    color: var(--away-team-color);
}